name: "[Component] Run PR checks"

on:
  workflow_call:
    inputs:
      projectNumber:
        required: true
        type: number
        description: GCP project number

jobs:
  terrafom-validate:
    name: Validate Terraform
    uses: ./.github/workflows/common-infra.yaml
    permissions:
      id-token: "write"
      contents: "read"
    with:
      applyChanges: false
      projectNumber: ${{ inputs.projectNumber }}
